/* https://www.w3schools.com/howto/howto_css_outline_buttons.asp */

button { /* new default style for <button/> */
    border: 4px solid black;
    background-color: white;
    color: black;
    padding: 7px 6px;
/*    float:left; */
    margin: 2px 2px;
    font-size: 16px;
    cursor: pointer;
/*    white-space: nowrap;*/
}

#topbar /* topbar for navigation */
{
	display:block;
/*	display:inline-block; /* IE6, IE7 compatibility only */
}

#nav_path {
    background-color: #f9ffcb;
}

#nav_layers {
    background-color: #f9ffcb;
}

#videos_outer
{
    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    /* Safari and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
    text-align: center;
}

#videos {
	margin: 0 auto;
	display:table-cell;
}

#video {
	padding:3px;
}

.nav { /* TODO DEPRECATD */
    padding: 2px 2px;
    text-align: center;

}

.top_nav {
    padding: 2px 2px;
    text-align: center;
}


.nav_buttons {
    padding: 3px 6px;
}


span.toggle_group {
  display: inline-block;
}

button.success { /* Orange */
    border-color: #e18805;
	background-color: #e18805;
	color: white;
}

button.success_not_selected {
    border-color: #e18805;
	background-color: #e18805;
	color: white;
    margin-right: 0;
}

button.success_selected {
	border-style: dotted;
	border-color: gray;
	background-color: #e18805;
	color: white;
    margin-right: 0;
}

button.success_toggle {
	border-color: #e18805;
	color: #e18805;
    margin-left: 0;
}

button.nav_path {
    border-color: #4CAF50;
	background-color: #4CAF50;
	color: white;
}

.warning { /* Orange */
    border-color: #ff9800;
    color: orange;
}
.warning:hover {
    background: #ff9800;
    color: white;
}

.danger { /* Red */
    border-color: #f44336;
    color: red
}
.danger:hover {
    background: #f44336;
    color: white;
}

.default { /* Gray */
    border-color: #e7e7e7;
    color: black;
}
.default:hover {
    background: #e7e7e7;
}

iframe {
    height: 216;
    width: 384;
}

#permalink {
    text-align: center;
}


