

button { /* new default style for <button/> */
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 1px 2px;
/*    float:left; */
    margin: 1px 1px;
    font-size: 16px;
    cursor: pointer;
/*    white-space: nowrap;*/
}


div.video {
	display:table-row;
    padding: 3px 6px;
/*    position: absolute;*/
}

div.video_data {
	display:table-cell;
	height: 240;
   	padding: 3px 6px;
}


div.videos {
	display:table;
/* TODO padding */
}

iframe {
    height: 225;
    width: 400;
}

iframe.videos_verwalten {
    position: absolute;
}

button.warning { /* Orange */
    border-color: #ff9800;
    color: orange;
}
button.warning:hover {
    background: #ff9800;
    color: white;
}

button.danger { /* Red */
    border-color: #f44336;
    color: red
}
button.danger:hover {
    background: #f44336;
    color: white;
}

button.success { /* Green */
    border-color: #4CAF50;
    color: green;
}
button.success:hover {
    background: #4CAF50;
    color: white;
}

input[type='checkbox'] {
  width: 30;
  height: 30;
}

